<div class="app-detail">
  <p>
    Name: <%= @app.name %>
  </p>
  <p>
    Public key: <%= @app.public_key %>
  </p>

  <p>
    Private Key: <%= @app.private_key.secret %>
  </p>

  <a href="/apps/<%= @app.system_name %>/new_entity">Configure <%= @app.name %>'s endpoints</a>
  <ul class="app-detail-endpoints">
    <% @app.app_config.entities.each do |entity| %>
      <li>
        <%= entity.class.name %>
      </li>
    <% end %>
  </ul>
</div>
